{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} test page {% endblock %}

{% block body %}

<h1><strong>Starshop</strong>: Here we have our store</h1>

<div>This is completely random: {{ ships | length * 7 }} </div>

<div>
    {% if ships | length * 7 > 5 %}
        {# comment #}
        Not bad.
    {% endif %}
</div>

    {% set stuff = random(ships) %}

<div>
    <h2> Other stuff</h2>
    <table>
        <tr>
            <th>Name</th>
            <td>
                <a href="{{ path('app_starship_show', { id: stuff.id }) }}">
                    {{ stuff.name|title }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ stuff.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ stuff.captain }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ stuff.status }}</td>
        </tr>
    </table>
</div>
{% endblock %}